[submodule "app/templates/plugin"]
	path = app/templates/plugin
	url = https://github.com/YOURLS/plugin-sample.git
[submodule "app/templates/theme"]
	path = app/templates/theme
	url = https://github.com/YOURLS/theme-sample.git
[submodule "app/templates/translation"]
	path = app/templates/translation
	url = https://github.com/YOURLS/YOURLS.pot.git
